.home{
    background-color: #232323;
    color: rgba(255, 255, 255, 0.848) !important;
}
.designed{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.para{
    font-size: 50px;
    font-weight: 650;
}
.headphone{
    margin-top: 2px;
    padding-top: 15px;
   height: 650px;
   display: flex;
   justify-content: center;
  
}
.para1{
    color: gray !important;
}
.span{
    color: rgb(240, 82, 25) !important;
}
.buton1{
    padding: 10px 50px;
    border-radius: 25px;
    margin-right: 15px;
    border: 1px solid rgb(240, 82, 25);
    font-weight: 500;
    font-size: 17px;
    background-color: rgb(240, 82, 25);
}
.buton2{
    padding: 10px 56px;
    border-radius: 25px;
    margin-right: 15px;
    border: 1px solid rgb(240, 82, 25);
    font-weight: 500;
    font-size: 17px;
    color: rgba(255, 255, 255, 0.848);
}
.buton1:hover{
    background-color: rgb(240, 82, 25);
    box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.785);
    color: rgba(255, 255, 255, 0.848);
}
.buton2:hover{
    background-color: rgb(240, 82, 25);
    box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.785);
}
@media (max-width:768px) {
    /* .para{
        text-align: center;
    } */
     .designed{
        margin: auto;
        text-align: center;
     }
}
@media (max-width:992px) {
    .buton1{
        margin-bottom: 10px;
    }
}


