*{
    list-style-type: none;
}
.think{
    margin-top: 200px;
   /* overflow-x: hidden; */
  background-color: rgb(24, 23, 23);
   min-height: 800px;
}
.think h2{
    margin-bottom: 40px;
    font-weight: 700;
    text-align: center;
    color: rgb(240, 82, 25);
}
.think-p{
    font-size: 18px;
    font-weight: 700;
}
.think-carousel{
    margin-top: 75px;
    position: relative !important;
    /* padding: 30px; */
}
.think-img-wrapper{
   width: 130px;
   height: 130px;
   margin: auto;
}
.think-image{
   width: 100%;
   height: 100%; 
   object-fit: cover;
    object-position: top;
   border-radius: 50%;
}
.think-ul{
    display: flex;
    justify-content: center;
   padding: 0px !important;
 margin-top: 8px;
 margin-bottom: 5px;
}
.think-ul li{
    font-size: 25px;
    margin: 0px 4px;
}
.think-content-name{
    text-align: center;
    font-size: 33px;
    font-weight: 700;
    margin-bottom: 30px;
}
.think-lorem{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 30px;
}
.think-post{
    font-size: 23px;
    font-weight: 700;
   
}
.think-col{
    padding: 25px 10px;
    background-image: linear-gradient(145deg , rgb(240, 82, 25) 0% , rgba(241 , 85 , 106 , 1 )100%);
    margin-bottom: 10px;
}
.think-col:hover{
   scale: 1.01;
   box-shadow: 3px 5px 12px rgba(255, 255, 255, 0.785);
}
.think-imagee{
    width: 100%;
    height: 100%; 
    object-fit: cover;
     object-position: left;
    border-radius: 50%;
}
.carousel-indicators{
    position: absolute;
    bottom: -78px;
}



