.about{
  max-width: 1300px;
   background-color:  #383636;
   margin: 200px auto !important;
   color: rgba(255, 255, 255, 0.848);
}
.aboutt{
    margin-top: 150px;
    min-height: 70vh;
    height: fit-content;
}
.about-wrapper{
   padding: 15px 20px 60px 20px;
   background-color:  #383636;
   position: relative;
}
.about-wrapperr{
    max-width: 1300px;
    width: 100%;
    padding: 15px 20px 60px 20px;
   background-color:  #383636;
   position: relative;
   margin: 0 auto;
}
.about-text{
    background-color:  #383636;
    max-width: 800px;
    width: 100%;
}
.about-text  > h2{
    font-weight: 700;
    margin-bottom: 32px;
    color: rgb(240, 82, 25);
    background-color:  #383636;
}
.about-text p{
    margin-bottom: 32px;
    background-color:  #383636;
}
.about-img-wrapper{
    position: absolute;
    right: 28px;
    top: -30px;
}
.about-button{
    padding: 8px 35px;
    color: rgb(240, 82, 25);
    border: 1px solid rgb(240, 82, 25);
    font-weight: 500;
    
}
.about-button:hover{
    color: rgba(255, 255, 255, 0.848);
    background-color: rgb(240, 82, 25);
    box-shadow: 0px 1px 5px rgba(255, 255, 255, 0.785);
}

@media (max-width: 1283px) {
    .about-wrapper{
        padding: 15px 10px 60px 20px;
        background-color:  #383636;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
     }
    .about-wrapperr{
        padding: 15px 10px 60px 20px;
        background-color:  #383636;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
     }
     .about-img-wrapper{
        position: static;
        margin-top: 30px;
    }
    .about-text{
        background-color:  #383636;
        max-width: 100%;
    }
}
@media (max-width:463px) {
    .about-img-wrapper{
       width: 100%;
    }
    .about-image{
        width: 100%;
    }
}
@media (max-width:410px) {
    .about-text , .about-button{
     margin: auto;
    }
}
@media (max-width:768px) {
    .about{
         margin: 100px auto !important;
      }
}
@media (max-width:1065px) {
    .aboutt{
        margin-top: 50px;
        min-height: 70vh;
        height: fit-content;
    }
    .about-wrapperr{
        max-width: 1300px;
        width: 100%;
        padding: 15px 20px 60px 20px;
       background-color:  #383636;
       position: relative;
    }
}
